<div class="col-xs-12" style="text-align: center">
  <h2>Total is: {{ total }}</h2>
  <div>
    <input
      type="number"
      name="toBeCalculated"
      id="number"
      placeholder="To Be Calculated"
      [(ngModel)]="toBeCalculated"
    />
    <br />
    <br />
    <div>
      <button type="submit" class="btn btn-primary" (click)="onAdd()">+</button>
      <button type="submit" class="btn btn-primary" (click)="onSubtract()">
        -
      </button>
      <button type="submit" class="btn btn-primary" (click)="onMultiply()">
        *
      </button>
      <button type="submit" class="btn btn-primary" (click)="onDivide()">
        /
      </button>
      <button class="btn btn-warning" (click)="onClear()">Clear</button>
    </div>
    <span *ngIf="divideByZero === true"
      ><p>Sorry, Can't Divide By Zero</p>
      <p>It would destroy the universe</p></span
    >
  </div>
</div>


