<div style="text-align: center">
  <h4>This page utilizes input fields to mess around with</h4>
  <div>
    <label for="data">Input Anything Here:</label>
    <input
      style="margin: 5px"
      placeholder="Right Here"
      type="text"
      id="data"
      [(ngModel)]="data"
      name="data"
    />
    <button class="btn btn-warning" *ngIf="data != ''" (click)="clearData()">
      Clear
    </button>
  </div>
  <br />
  <p>Your input appears here capitalized</p>
  <p>&DoubleDownArrow;</p>
  <p>{{ data | uppercase }}</p>

  <br />
  <hr />
  <a class="col-xs-12" routerLink="../">&leftarrow; Go Back</a>
</div>
